@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}

.dark .post-content a {
  color: red;
}

/* Highlight text within <code> tags */
.post-content code {
  font-family: 'Courier New', Courier, monospace; /* Use a monospace font for code */
  background-color: #f4f4f4; /* Light gray background for code blocks */
  color: #d6336c; /* Code text color (pinkish for emphasis) */
  padding: 0.2rem 0.4rem; /* Add padding for readability */
  border-radius: 0.25rem; /* Slightly round the corners */
  font-size: 0.95rem; /* Slightly smaller font for code */
  white-space: pre-wrap; /* Allow wrapping for inline code */
  word-break: break-word; /* Break long words if necessary */
}

/* For <pre><code> blocks (multi-line code) */
.post-content pre {
  background-color: #e0e0e0; /* Dark background for code blocks */
  color: #242424; /* Lighter text for contrast */
  padding: 1rem; /* Add padding inside pre blocks */
  border-radius: 0.5rem; /* Rounded corners for aesthetics */
  overflow-x: auto; /* Enable horizontal scrolling for long lines */
  font-size: 0.95rem; /* Match font size with inline code */
}

.post-content pre code {
  background: none; /* Remove code background inside pre */
  color: inherit; /* Use the same color as pre */
}
